@import './../node_modules/@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariables';
@import './../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska';

:host {
  --ds-auro-card-border-color: transparent;
  --ds-auro-card-background-color: transparent;
  --ds-auro-card-texticon-color: inherit;
}
